---
apiVersion: v1
kind: Secret
metadata:
  name: nxc-secrets
  namespace: nextcloud
type: Opaque
data:
# password should be base64 encoded
  mysql-password: aaaaaaaaaaaaaaaaaa=
  admin-password: aaaaaaaaaaaaaaaaaa=

